@import '../abstracts/_variables.scss';


.title-img {
    margin: 0 25px 38px;
    box-sizing: border-box;

    img {
        max-width: 100%;

        @media (min-width: $desktop) {
            width: 100%;
            height: 100%;
        }
    }

    @media (min-width: $tablet) {
        margin-right: 85px;
        margin-left: 85px;
        margin-top: 10px;
    }

    @media (min-width: $desktop) {
        margin-right: $margin-lr-desktop;
        margin-left: $margin-lr-desktop;
        margin-top: 15px;
    }
}