@import '../abstracts/variables';
@import '../abstracts/mixin';


.posts {
    margin: 0 28px 40px;

    @media (min-width: $tablet) {
        margin: 0 275px 60px 80px;
    }

    @media (min-width: $desktop) {
        margin: 0 $margin-lr-desktop 70px;
    }
}

.posts__title {
    @include title-text;
    margin-bottom: 24px;

    @media (min-width: $tablet) {
        @include title-text-tablet;
    }
}

.posts__wrapper {
    @include flex(column);
    gap: 29px;

    @media (min-width: $tablet) {
        gap: 34px;
    }

    @media (min-width: $desktop) {
        @include grid;
    }
}

.posts__item {
    @include flex(column);
    gap: 11px;
    cursor: pointer;

    img {
        width: 160px;
        height: 140px;
    }

    h3 {
        @include title-text ($primary-color, capitalize);

        @media (min-width: $tablet) {
            @include title-text-tablet($primary-color, capitalize, 1px);
        }
    }


    @media (min-width: $tablet) {
        @include flex(row, flex-start);
        gap: 21px;
    }

    &:nth-of-type(n + 4) {
        display: none;

        @media (min-width: $desktop) {
            display: flex;
        }
    }
}

.posts__visited {
    @include flex(row, flex-start);
    gap: 15px;
    line-height: 20px;


    span {
        font-size: 11px;
        color: #7C7C7C;
        position: relative;

        &:first-of-type::after {
            @include psevdo-element;
            right: -17px;
        }
    }
}

.post__description {
    font-size: 14px;
    line-height: 26px;
    color: #5C5C5C;
    display: none;

    @media (min-width: $tablet) {
        display: block;
        margin-top: 11px;
    }

    @media (min-width: $desktop) {
        margin-top: 21px;
    }
}